*{margin : 0px}

.month-tasks-container{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.month-task {
    padding: 10px;
    display: flex;
    background-color: lightgrey;
    width: 300px;
    min-width: 300px;
    min-height: 150px;
    max-height: 150px;
    height: auto;
    text-align: center;
    text-justify: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin:15px;
    word-wrap: break-word;
}

.text {
    width: 90%;
    word-wrap: break-word;
}




